@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');





body {
 font-family: "Roboto", sans-serif;
}

.container{
  max-width: 1150px;
  box-sizing: border-box;
  margin-inline: auto;
 

}
.departments{
  width: 100%;
  margin-bottom: 2rem;
  
}


.head {
margin-top:6rem;
text-align: center;
}

.section-title  {
  font-family:"poppins", sans-serif;
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #2c4964;
  font-weight: 600;
  margin-bottom: 40px;
  padding-bottom: 20px;
    }

    .section-title:hover{
      color: #1977cc;
      cursor: pointer;
    }

h2.section-title::before,
 h2.section-title::after {
   content: "";
   position: absolute;
   bottom: 0;
   height: 2.5px;
   background-color: #ccc;
   width: 170px;
    }

    h2.section-title::before {
      left: 50%;
      transform: translateX(-50%);
    }

    h2.section-title::after {
      width: 80px;
      background-color: #007bff;
      height: 2.5px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .subtitle {
      color: #696969;
      font-size: 1rem;
      max-width: 600px;
      margin: 0 auto;
    }



    .dep-data
    {
      display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
  
    }

     .navbar{
      display: grid;
      grid-column: 1 /span 1;
    
     }
    
    .navbar .nav-lists{
      display: flex;
      flex-direction: column;
      list-style: none;
     
    }
    .nav-links{
      text-decoration: none;
      color: #444444;
      font-weight: 700;
      padding: 12px 15px 12px 0;

    }
    .nav-links:hover{
      color: #1977cc;
      cursor: pointer;
    }

    

    .contents{
      display: grid;

      grid-column: 2 /span 2;
    }
  
   .card{
    display: flex;
    flex-direction: row;
     position: relative;
     padding-left: 20px;
     gap: 3rem;
 
   }
  

  .card img{
    width: 312px;
    height:273px;
  
   }
   .image-dep1{
   display: none;
   }
 .card::before {
  content: "";
  position: absolute;
  left:0;
  top: 0;
  width: 2.5px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #1977cc 0%,    
    #1977cc 49px,   
    #ccc 20px,      
    #ccc 100% 
  );

}

   
   .card .info-blog {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  gap: 1.5rem;
  text-align: left; 
  max-width: 680px; 
}

   .card .info-blog p{
    width: 100%;
    height:19px;
    font-size: 12px;
    color: #696969;
    line-height: 18px;
    margin: 0;
   
   }
     
     .card h3{
    width: 100%;
    color: #2c4964;
    font-size:1.5rem ;
    font-weight: 600;
    }

     .card h3:hover{
    color: #1977cc;
    cursor:pointer; 
    }
     
/* scroll */

.scoll-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  position: absolute;
  bottom: 0.5%;
  right: 0;
  width:35px;
  height: 35px;
  border-radius: 4px;
 cursor:pointer;
 position: fixed;
}
.scoll-btn .fa-arrow-up{
  font-size: 1rem;
  color:white;
  
}

    @media screen and (max-width: 768px){
   
     .head {
      margin-top: 10px;
      text-align: center;
      margin-block: 1rem;
       }

     .dep-data {
      display: flex;
      flex-direction:column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;
      text-align: left;
     }
     .blue-line{
     width: 100%;
     margin-top: 5rem;
     height: 3rem;
     background-color: #007bff;
     }
     .contents{
      display: flex;
      flex-direction: column-reverse;
       padding-block: 10px;
     }
     
     .navbar{
      padding-top: 0;
      margin: 0;
     }
     .nav-links{
     padding-inline: 0;
     }
    .card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 0;
     
      
    }

    .info-blog .text{
      margin-bottom: 2rem;
    }
      .card::before {
      display: none;
      }
      .info-blog {
        display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
 
     
    
      }
     
    
        .image-dep{
      display: none;
      }
      .info-blog img { 
        width: 100%;
        display: block;
        margin-top: 1rem;
        
       
        
      }
    
    }