@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
 font-family: "Roboto", sans-serif;
 background-color: #ffffff;
}
.container{
  max-width: 1150px;
  margin-inline: auto;
}
.footer{
    width: 100%;
    height: 70%;
    background-color: #f1f7fc;
    padding: 2rem;

}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:1rem;
}
.footer-medilap{
    display: grid;
    grid-column: 1/span 2;
   
}

.footer-medilap h2{
  font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    color:#2c4964;  
    text-transform: capitalize; 
    font-family: Poppins, sans-serif;
}
.footer-medilap .medlip-text ,p{
     font-size: 0.9rem;
    line-height: 1.25rem;
    font-weight: 400;
    color:#444;
}
.contact-links{
    display: flex;
}
.contact-links a ,i{
    text-decoration: none;
}
.contact-links i{
    margin-block: 1.5rem;
    font-size: 1.15rem;
    width: 40px;
    height: 40px;
    color: rgb(68, 68, 68,0.8);
    border: 1px solid #444;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.contact-links i:hover{
   color:#1977cc;
}

.footer-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.ul-links{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  text-align:start;
  padding-inline: 0.1rem;
  gap:1rem;
}
.ul-links li{
   list-style: none;
}
.ul-links li,a{
    text-decoration: none;
    color: color(srgb 0.266667 0.266667 0.266667 / 0.7);
}
h4{
 font-size: 1rem;
    line-height: 1.15rem;
    font-weight: 700;
    color:#2c4964; ;
}

.footer-text{
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1.5px solid rgb(68, 68, 68,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
;
   
}
.footer-text p{
      font-size: 0.9rem;
    line-height: 1.24rem;
    font-weight: 400;
    color:#444;
 
}
 span:nth-child(1){
    font-weight: 700;
}
 .blue{
 color: #1977cc;
}
/* 
mobile */
@media(max-width:768px){
    .footer-grid{
        grid-template-columns: 1fr;
    }
    .footer-medilap{
        grid-column: 1 /span 1;
        
    }
}
/* tap */
@media (min-width:769px) and (max-width:995px){
    .footer-grid{
        grid-template-columns: repeat(3,1fr);
        gap:1rem;
    }
    .footer-medilap{
        grid-column: 1 /span 1;
        
    }
}
